/*------------------------------------------------------------------
[NU Master Stylesheet]

Project:    'Mian Visuals'
Version:    1.0
Last change:    'Project Start'
Assigned to:    Noor Uddin (NU)
Primary use:    'Main Styles for Site'
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

*. Global
1. Index
2. Photography Portfolio
3. WP Portfolio
4. Contact
5. Login
-------------------------------------------------------------------*/
html {
    background-color: #0c0c0c;
}

/* 1. Index */
.container {
    width: 85%;
    height: 80vh;
    border: 5px solid #fff;
    border-radius: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

#mvLogo {
    width: 25%;
    height: 100px;
    position: absolute;
    top: -10%;
    left: 35%;
    z-index: 1;
    border-radius: 3%;
}

.service {
    width: 50%;
    height: 100%;
    float: left;
    font-family: 'Acme', sans-serif;
    color: purple;
}

#serviceMedia {
    border-right: 2px solid #fff;
    background-image: url(/img/testImg2.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    opacity: 0.5;
}

#serviceMedia:hover {
    opacity: 0.8;
    background-size: cover;
    border-top-left-radius: 1%;
    border-bottom-left-radius: 1%;
}

#serviceWD {
    border-left: 2px solid #fff;
    background-image: url(/img/testimg.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    opacity: 0.5;
}

#serviceWD:hover {
    opacity: 0.8;
    background-size: cover;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
}

.serviceTitle {
    text-align: center;
    margin-top: 40%;
}

#smLinks {
    width: 50%;
    height: 80px;
    position: absolute;
    bottom: -8%;
    left: 25%;
    z-index: 1;
    border: 2px solid #fff;
    border-radius: 3%;
    background-color: #c8c8c8;
}
.smIcons {
    width: 33.3%;
    height: 100%;
    float: left;
    border-left: #0c0c0c solid 1px;
    border-right: #0c0c0c solid 1px;
}
#FB {
    background-image: url(/img/indexImg/fb.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
#Insta {
    background-image: url(/img/indexImg/insta.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
#Email {
    background-image: url(/img/indexImg/email.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}